body::before{
    display: block;
    content:'';
    height: 60px;
}
.footer p {  /* Selects text inside a <p> tag that is inside a .footer <div> */
    margin-bottom: 0; /* removes default <p> tag margin from the bottom */
 }

#map {
   width: 100%;
   height: 100%;
   border-radius: 10px; 
}

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}



